<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board">
	<resultMap type="Board" id="boardResultSet">
		<id property="bid" column="BID" />
		<result property="bType" column="BTYPE" />
		<result property="bTitle" column="BTITLE" />
		<result property="bContent" column="BCONTENT" />
		<result property="bWriter" column="BWRITER" />
		<result property="userName" column="USER_NAME" />
		<result property="bCount" column="BCOUNT" />
		<result property="createDate" column="CREATE_DATE" />
		<result property="modifyDate" column="MODIFY_DATE" />
		<result property="status" column="STATUS" />
	</resultMap>
	
	<resultMap type="Board" id="boardResultSet2">
		<id property="bid" column="BID" />
		<result property="bType" column="BTYPE" />
		<result property="bTitle" column="BTITLE" />
		<result property="bContent" column="BCONTENT" />
		<result property="bWriter" column="BWRITER" />
		<result property="userName" column="USER_NAME" />
		<result property="bCount" column="BCOUNT" />
		<result property="createDate" column="CREATE_DATE" />
		<result property="modifyDate" column="MODIFY_DATE" />
		<result property="status" column="STATUS" />
		<collection property="replyList" javaType="java.util.ArrayList" resultMap="replyResultSet"></collection>
	</resultMap>
	
	<resultMap type="Reply" id="replyResultSet">
		<id property="rid" column="RID" />
		<result property="rContent" column="RCONTENT" />
		<result property="refBid" column="REF_BID" />
		<result property="rWriter" column="RWRITER" />
		<result property="userName" column="USER_NAME" />
		<result property="createDate" column="CREATE_DATE" />
		<result property="modifyDate" column="MODIFY_DATE" />
		<result property="status" column="STATUS" />
	</resultMap>
	

	<!-- 게시글 수 조회용 쿼리문 -->
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE STATUS = 'Y'
	</select>

	<!-- 게시글 목록 조회용 쿼리문 -->
	<select id="selectBoardList" resultMap="boardResultSet">
		SELECT *
		FROM BOARD B
		JOIN MEMBER M ON (B.BWRITER = M.MID)
		WHERE B.STATUS = 'Y'
		ORDER
		BY BID DESC
	</select>

	<!-- 조회수 증가용 쿼리문 -->
	<update id="updateBoardCount" parameterType="_int">
		UPDATE BOARD
		SET BCOUNT = (SELECT BCOUNT FROM BOARD WHERE BID = #{bid}) + 1
		WHERE BID = #{bid}
	</update>

	<!-- 상세보기용 쿼리문 -->
	<select id="selectBoardOne" parameterType="_int" resultMap="boardResultSet2">
		SELECT * 
		FROM BOARD B
		JOIN MEMBER M ON (B.BWRITER = M.MID)
		LEFT JOIN REPLY R ON (R.REF_BID = B.BID)
		WHERE B.BID = #{bid}
		AND B.STATUS = 'Y'
		ORDER BY RID DESC
	</select>








</mapper>